@media only screen and (max-width: 600px) {
    .button {
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        border: 3px solid #0d8531;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s; /* добавляем плавный переход для изменения цвета фона */
    }

    .result {
        color: white;
        font-size: 25px;
        border: 3px solid black;
        background-color: black;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }

    .arrow {
        width: 20%;
        height: 20%;
    }

    main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
}
}
    
@media only screen and (min-width: 600px){
    .button {
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        border: 3px solid #0d8531;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s; /* добавляем плавный переход для изменения цвета фона */
    }

    .result {
        color: white;
        font-size: 50px;
        border: 3px solid black;
        background-color: black;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }

    .arrow {
        width: 10%;
        height: 10%;
    }

    main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}
}
.button:hover {
    background-color: #0d8531; /* изменяем цвет фона при наведении */
}

.button:active {
    background-color: #076b25; /* изменяем цвет фона при нажатии */
}




